body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
header{
    width: 100%;
    height: 69px;
    background: #5188D8;
    display: flex;
    color: #FFF;
    font-weight: bold;
    align-items: center;
}
.logo{
    font-size: 20px;
    margin-left: 1%;
}
.fa-camera{
    font-size: 20px;
    margin-left: 1%;
}
.header-nav{
    display: flex;
    margin-left: 1%;
    margin-right: 1%;
}
.header-nav ul{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    padding: 0;
}

.header-nav li{
    list-style-type: none;
    cursor: pointer;
    font-size: 20px;
    padding-left: 10px;
}

.header-nav li:hover{
    color: #AFC8ED;
}

.search-container{
    margin-left: 1%;
    height: 30px;
    border-radius: 30px;
    outline: none;
    border: 1px solid #DDD;
    padding-left: 15px;
    flex-grow: 2;
}
.timeline{
    max-width: 800px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
}

.timeline-component{
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
    margin: 1%;
    padding: 10px;
}

.timeline-component-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.timeline-component-header-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #5188D8;
}
.timeline-component-header-more{
    margin-left: auto;
    cursor: pointer;
}

.timeline-component-header-name{
    padding-left: 5px;
}

.timeline-component-content{
    padding: 10px;
}

.timeline-component-interact{
    height: 40px;
    border-top: 1px solid #DDD;
    margin: -5px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.thumb-up-container{
    color: black;
    padding: 0px 5px 0px 5px;
}

.fa-thumbs-up {
    color: #5188D8;
}

#comment-container{
    height: 20px;
    border-radius: 30px;
    outline: none;
    border: 1px solid #DDD;
    padding-left: 15px;
    flex-grow: 2;
}

.msgSend{
    color: #5188D8;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
}

.page-content{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
}

@media screen and (max-width: 640px) {
    .logo {
        display:none;
    }
    .fa-camera{
        margin-right: 1%;
    }
}


#chat{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    background: #FFF;
}
.header{
    background: #5188D8;
    padding: 5Px;
    height: 30px;
    display: flex;
    flex-direction: row;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    align-content: center;
    align-items: center;
    padding-left: 5px;
}
.close{
    margin-left: auto;
    margin-right: 5px;
}


.inputPlace{
    margin-top: auto;
    background: #FFF;
    height: 50px;
    display: flex;
    flex-direction: row;
    border: 1px solid #ddd;
    align-items: center;
}

.mainContent{
    display: flex;
    flex-direction: column;
    font-size: 10px;
    font-weight: bold;
    padding: 5px;
    width: 96,2%;
    height: 100%;
    overflow-y: scroll;
}
.sentMessage{
    align-self: flex-end;
    margin-right: 5px;
    background: #E2856E;
}
.receivedMessage{
    align-self: flex-start;
    margin-left: 5px;
    background: #92B4A7;

}
.receivedMessage, .sentMessage{
    padding: 10px;
    border-radius: 10px;
    margin: 2Px;
}
.inputPlace input{
    height: 20px;
    border-radius: 30px;
    outline: none;
    border: 1px solid #DDD;
    padding-left: 15px;
    width: 100%;
}

.close{
    cursor: pointer;
}
.imgSend{
    color: #5188D8;
    padding: 0px 5px 0px 5px;
}
.msgSend{
    color: #5188D8;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
}
.chat-container {
    position: fixed;
    bottom: 0px;
    right: 20px;
    margin-bottom: 0px;
}
